@use '../../foundations/' as *;

.input{
    width: 300px;
    height: 16px;
    padding: 2px;
    background-color: $colour-neutral;
    color: $text-colour;
}
.input-half{
    width: 150px;
    height: 16px;
    padding: 2px;
    background-color: $colour-neutral;
    color: $text-colour;
}

